
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  {% tailwind_preload_css %}
  {% tailwind_css %}
</head>
<body class="flex justify-center items-center min-h-screen bg-gray-100">

<div class="bg-white p-8 rounded-lg shadow-lg">
  <div class="text-center">
    <h2 class="text-2xl font-semibold mb-6">Login</h2>
    <form action="{% url 'login'  %}" method="post" class="flex flex-col">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username" class="p-2 mb-4 border border-gray-300 rounded" required>
      <input type="password" name="password" placeholder="Password" class="p-2 mb-4 border border-gray-300 rounded" required>
      <input type="submit" value="Login" class="bg-green-500 text-white py-2 rounded cursor-pointer hover:bg-green-600">
    </form>
    <div class="mt-6">
      Don't have an account? <a href={% url 'register' %} class="text-green-500">Register</a>
    </div>
  </div>
</div>

</body>
</html>
